{% extends 'layout.html' %}
{% block tittle %}
    <title> Delete </title>
{% endblock %}

{% block body %}
    {% if blog.user.id == user.id %}
        <div class = 'container'>
            <h3> Xóa bài viết : {{ blog.name }} </h3>
            <br>
            <div class = "form-group">
                <form method="POST">
                    {% csrf_token %}
                    <strong> Chắc chắn xóa? </strong>
                    <br>
                    <button class = "btn btn-secondary"> Xóa! </button>
                </form>
            </div>
        </div>
    {% else %}
        <h1> <strong> Bạn không được phép ở đây !!!!!!!!!!! </strong> </h1>
        <strong><a href="{% url 'home_page' %}"> Trở về trang chủ</a> </strong>
    {% endif %}
{% endblock %}