{% extends 'layout.html' %}

{% block body %}
    <div class="container">
            <h1 class = "text-center"> Bài viết có thể loại "{{ cates }}" </h1>
            <div class="row">
                {% for item in blogs_category %}
                    <div class="col-md-4">
                        <div class="single-blog">
                            <p class="blog-meta"> By <a href="{% url 'user_profile' item.user.id %}"> {{ item.user.first_name }} {{ item.user.last_name }} </a>
                                <span> <a href="{% url 'list_category' item.category %}"> {{ item.category }} </a>, {{ item.date }}</span>
                            </p>
                            <img src="{{ item.image.url }}">
                            <h2> {{ item.name }} </h2>
                            <p class="blog-text"> {{ item.summary }}</p>
                            <p>
                                <a href=" {% url 'detail_view' item.id %}" class="read-more-btn"> Read more </a>
                                <span>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ item.total_like }} like
                                    <i class="fa fa-comment o" aria-hidden="true"></i> {{ item.tolal_comment }} comments
                                </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}