{% extends 'layout.html' %}
{% load static %}
{% block body %}
        <div class="container">
            <h1 class = "text-center"> Bài viết </h1>
            <p class="text-center"> Lưu trữ bài viết (blogs, posts)</p>
            <div class="row">
                {% for item in object_list %}
                    <div class="col-md-4">
                        <div class="single-blog">
                            <p class="blog-meta"> <i class="fa fa-user" aria-hidden="true"></i> <a href="{% url 'user_profile' item.user.id %}"> {{ item.user.first_name }} {{ item.user.last_name }} </a>
                                {% if item.category %}
                                    <span> <i class="fa fa-book" aria-hidden="true"></i> <a href="{% url 'list_category' item.category %}"> {{ item.category }} </a>,<i class="fa fa-calendar" aria-hidden="true"></i> {{ item.date }}</span>
                                {% else %}
                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ item.date }}</span>
                                {% endif %}
                            </p>
                            {% if item.image %}
                                <img src="{{ item.image.url }}">
                            {% else %}
                                <img src="{% static 'theblog/images/blog.jpg' %}">
                            {% endif %}
                            <h4> {{ item.name }} </h4>
                            <p class="blog-text"> {{ item.summary }}</p>
                            <p>
                                <a href=" {% url 'detail_view' item.id %}" class="read-more-btn"> Read more </a>
                                <span>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ item.total_like }} like
                                    <i class="fa fa-comment o" aria-hidden="true"></i> {{ item.tolal_comment }} comments
                                </span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}